{% extends 'home/navBar.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <div class="contact-form-container">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}

        <h1>Contact</h1>
        {{ form(form) }}
    </div>
{% endblock %}
