{% extends 'home/navBar.html.twig' %}

{% block title %}Cacel-Order-Fashion{% endblock %}

{% block content %}

    <div class="order-form-container">    
        <h2>Error order payment</h2>
        <p>
            Hello <strong>{{ order.user.firstname }} {{ order.user.lastname }}</strong>, <br>
            It looks like your payment has failed.<br>
            An error confirmation has just been sent to you by email at the address <strong>{{ order.user.email }}</strong>.
            <hr>
        </p>
        <a class="button-design"href="{{ path('order') }}">Retry your payment</a>

    </div>

{% endblock %}