{% extends 'home/navBar.html.twig' %}

{% block title %}Confirm-Order-fashion{% endblock %}

{% block content %}
    <div class="order-form-container">    
        <h2>Order confirmation</h2>
        <p>
            Hello, thank you for your order.
            <hr>
            To track your order, go to your space<a href="{{ path('account_order') }}"> "My orders".</a>
        </p>
    </div>
{% endblock %}
